@page "/"

<PageTitle>Home</PageTitle>


<div class="d-flex" style="width: 100%; height: 100vh">
    <div id="main-contents" style="width: 85%;">
        <div class="px-16 pt-4">
            <MudAlert Severity="@Severity.Warning" Class="mb-8">
                This project is still a work in progress. The appearance and the API of the components are not yet finalized.
            </MudAlert>
            
            <h3>MudMarkdownEditor</h3>
            <p>A simple and extensible markdown editor component for MudBlazor.</p>

            <br/>
            <br/>

            <h5><b>Features:</b></h5>
            <ul style="list-style-type: disc; margin-left: 3rem">
                <li>Extensible</li>
                <li>Multiple built-in themed components</li>
            </ul>

            <br/>
            <br/>

            <div style="background-color: #1e1e2d; padding: 1rem">
                <MudMarkdownEditor Markdown="@m_markdownString" Style="height: 500px"/>
            </div>

            <br/>
            <br/>
            <br/>

            <h5><b>Want something already styled?</b></h5>
            <p>Check out some of the 'pre-built' components:</p>
            <ul style="list-style-type: disc; margin-left: 1.5rem">
                <li>
                    <MudLink Href="/Samples/GithubIssueSamplePage" Style="font-size: 0.85rem">
                        Github-styled editor
                    </MudLink>
                </li>
                <li>
                    <MudLink Style="font-size: 0.85rem" Disabled>
                        StackEdit-styled editor <b>(WIP)</b>
                    </MudLink>
                </li>
            </ul>

            <br/>
            <br/>
            <br/>


            <h4><b>Getting Started</b></h4>
            <ol style="margin-left: 1.5rem">
                <li>Install MudBlazor</li>
                <li>Install the package</li>
                <li>Add style & script references</li>
                <li>Add the component to your project</li>
            </ol>

            <br/>
            <br/>
            <h6><b>1. Install MudBlazor</b></h6>
            <p>
                <b>MudBlazorCalendar</b> requires <b>MudBlazor</b>. Follow the installation guide <MudLink Style="font-size: 0.85rem" Href="https://mudblazor.com/getting-started/installation">here</MudLink>.
            </p>

            <br/>
            <br/>
            <h6><b>2. Install the package</b></h6>
            <p>
                Install the package from nuget, as seen below:
            </p>
            <div class="docs-section-source show-code" style="background-color: #151521; font-size: 0.8rem">
                <div class="docs-section-source-container">
                    <div class="mud-codeblock">
                        <div class="html">
                            <pre style="margin: 0 !important">
<span class="htmlElementName">dotnet</span> <span class="htmlElementName">add</span> <span class="htmlElementName">package</span> <span>Bryjen.MudMarkdownEditor</span>
                        </pre>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <br/>
            <h6><b>3. Add style & script references</b></h6>
            <p>
                Install the package from nuget, as seen below:
            </p>
            <div class="docs-section-source show-code" style="background-color: #151521; font-size: 0.8rem">
                <div class="docs-section-source-container">
                    <div class="mud-codeblock">
                        <div class="html">
                            <pre style="margin: 0 !important">
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">link</span> <span class="htmlAttributeName">href</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="htmlAttributeValue">Bryjen.MudMarkdownEditor.Docs.styles.css</span><span class="quot">"</span> <span class="htmlAttributeName">rel</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="htmlAttributeValue">stylesheet</span><span class="quot">"</span> <span class="htmlTagDelimiter">/&gt;</span>
...
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">script</span> <span class="htmlAttributeName">type</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="htmlAttributeValue">module</span><span class="quot">"</span> <span class="htmlAttributeName">src</span><span class="htmlOperator">=</span><span class="quot">"</span><span class="htmlAttributeValue">_content/Bryjen.MudMarkdownEditor/Bryjen.MudMarkdownEditor.min.js</span><span class="quot">"</span><span class="htmlTagDelimiter">&gt;</span><span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">/script</span><span class="htmlTagDelimiter">&gt;</span>
                        </pre>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <br/>
            <h6><b>4. Add the component to your project</b></h6>
            <p>
                Add the component to your page/component. To better understand how to use the component, see the <MudLink Style="font-size: 0.85rem" Href="">examples</MudLink> or the <MudLink Style="font-size: 0.85rem" Href="">API reference</MudLink>.
            </p>
            <div class="docs-section-source show-code" style="background-color: #151521; font-size: 0.8rem">
                <div class="docs-section-source-container">
                    <div class="mud-codeblock">
                        <div class="html">
                            <pre style="margin: 0 !important;">
<span class="atSign">@@</span>* Base Component *<span class="atSign">@@</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudMarkdownEditor</span> <span class="htmlTagDelimiter">/&gt;</span>

<span class="atSign">@@</span>* Using pre-built components *<span class="atSign">@@</span>
<span class="atSign">@@</span>* &lt;MudGithubMarkdownEditor /&gt; *<span class="atSign">@@</span>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>


            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

    <div id="page-contents-navbar" style="flex-grow: 1">
        
    </div>
    
</div>

@code {
    private string m_markdownString = 
@"# Markdown Showcase

## Features

- **Bold**: **This is bold**
- *Italic*: *This is italic*
- `Code`: Inline `code`
- [Link](https://example.com)

## Code Block


## Table

| Header 1 | Header 2 |
|----------|----------|
| Row 1    | Data     |
| Row 2    | More     |

## Blockquote

> This is a blockquote.

## List Example

1. First
2. Second
3. Third

## Images
![Alt Text](https://via.placeholder.com/150)


## Code Block Example

```csharp
using System;

namespace HelloWorldApp
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine(""Hello, World!"");

            for (int i = 1; i <= 5; i++)
            {
                Console.WriteLine($""Count: {i}"");
            }

            Greet(""User"");
        }

        static void Greet(string name)
        {
            Console.WriteLine($""Hello, {name}!"");
        }
    }
}
```

";
}