<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <link href="Bryjen.MudMarkdownEditor.Sample.styles.css" rel="stylesheet" />
    <link href="starry-night/css/tritanopia-dark.css" rel="stylesheet" />
    
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script type="module" src="starry-night/out/js/wrapper.out.js"></script>
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script type="module" src="_content/Bryjen.MudMarkdownEditor/Bryjen.MudMarkdownEditor.min.js"></script>
</body>
</html>